{% extends "base.template.html" %}

{%- block title %}
{{ page.event.label }}
{% endblock title -%}

{%- block content %}
<h1>{{ page.event.label }}</h1>

<div class="card">
    <div class="card-divider">
        <strong>Sessions</strong>
    </div>
    <div class="card-section">
        <ul>
            {% for (session_date, _) in page.attendees.items() -%}
            <li><a href="#{{ session_date | anchor }}">{{ session_date }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>


{% for (session_date, attendees) in page.attendees.items() -%}
<h2>{{ session_date }}<a name="{{ session_date | anchor }}"></a></h2>
<div class="grid-x grid-margin-x">
    {% for attendee in attendees | sort(attribute='name') -%}
    <div class="card cell small-3">
        <div class="card-section">
            {{ attendee | render_people }}
        </div>
    </div>
    {%- endfor %}
</div>
{% else -%}
<div class="cell">
    <em>Personne n'a encore déclaré avoir suivi ce stage</em>
</div>
{% endfor -%}

{% endblock content -%}
