{% extends "base.template.html" %}

{%- block title %}
    {{ page.event.label }}
{% endblock title -%}

{%- block content %}
    <h1>{{ page.event.label }}</h1>

    {% for (session_date, attendees) in page.attendees.items() -%}
    <h2>{{ session_date }}</h2>
    <div class="grid-x grid-margin-x">
        {% for attendee in attendees | sort(attribute='name') -%}
            {{ attendee | render_people }}
        {%- endfor %}
    </div>
    {% else -%}
    <div class="cell">
        <em>Personne n'a encore déclaré avoir suivi ce stage</em>
    </div>
    {% endfor -%}

{% endblock content -%}
